asyncpg==0.31.0
certifi==2026.6.17
charset-normalizer==3.4.7
docker==7.1.0
idna==3.18
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
pytest==9.1.1
pytest-asyncio==1.4.0
python-dotenv==1.2.2
requests==2.34.2
typing_extensions==4.16.0
urllib3==2.7.0
wrapt==2.2.2
